name: Lint and Test Charts

on:
  pull_request:
    paths:
      - 'charts/templates/**'
      - 'charts/Chart.yaml'

jobs:
  lint-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s:
          - v1.24.13
          - v1.25.9
          - v1.26.4
          - v1.27.2
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.8.1

      - uses: actions/setup-python@v4
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.4.0

      - name: Run chart-testing (list-changed --target-branch main)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch main)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --config .github/ct.yaml --target-branch main

      - name: Create kind ${{ matrix.k8s }} cluster
        uses: helm/kind-action@v1.7.0
        if: steps.list-changed.outputs.changed == 'true'
        with:
          node_image: kindest/node:${{ matrix.k8s }}

      - name: Run chart-testing (install)
        run: ct install --config .github/ct.yaml --target-branch main
