name: Lint and Test Charts

on:
  pull_request:
    paths:
      - "charts/uptime-kuma/templates/**"
      - "charts/uptime-kuma/Chart.yaml"

jobs:
  lint-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s:
          - v1.27.2
          - v1.28.9
          - v1.29.4
          - v1.30.0
          - v1.31.4
          - v1.32.0
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.7.0

      - name: Run chart-testing (list-changed --target-branch main)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch main)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --config ".github/configs/ct.yaml" --target-branch main

      - name: Create kind ${{ matrix.k8s }} cluster
        uses: helm/kind-action@v1
        if: steps.list-changed.outputs.changed == 'true'
        with:
          node_image: kindest/node:${{ matrix.k8s }}

      - name: Run chart-testing (install)
        run: ct install --config ".github/configs/ct.yaml" --target-branch main
  
  unit-tests:
    name: Run Helm Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.18.6

      - name: Install helm-unittest plugin
        run: |
          helm plugin install https://github.com/helm-unittest/helm-unittest.git --version v1.0.0

      - name: Update dependencies
        run: helm dependency update charts/uptime-kuma/

      - name: Run unit tests
        run: |
          helm unittest charts/uptime-kuma/ --color --output-type JUnit --output-file results.xml

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: results.xml
          check_name: "Helm Unit Test Results"
          comment_title: "Helm Unit Test Results"
