name: Release Charts

on:
  push:
    branches:
      - main
    paths:
      - "charts/uptime-kuma/Chart.yaml"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.4.0

      # - name: Prepare GPG Key
      #   run: |
      #     base64 -d <<< "$GPG_KEYRING_BASE64" > $HOME/secring.gpg
      #     echo "$GPG_PASSPHRASE" > $HOME/passphrase.txt

      #     echo "CR_KEYRING=$HOME/secring.gpg >> "$GITHUB_ENV"
      #     echo "CR_PASSPHRASE_FILE=$HOME/passphrase.txt" >> "$GITHUB_ENV"
      #   env:
      #     GPG_KEYRING_BASE64: "${{ secrets.GPG_KEYRING_BASE64 }}"
      #     GPG_PASSPHRASE: "${{ secrets.GPG_PASSPHRASE}}"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          config: "./.github/configs/cr.yaml"
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
